{% extends 'main/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
    Осциллограф
{% endblock %}

{% block url %}
<a class="p-2 text-dark" href="{% url 'home' %}">Главная</a>
{% endblock %}

{% block content %}
<form method="post" id="createDataForm" data-url="{% url 'scope' %}">
    <div class="container">
        {% csrf_token %}
        <h3>Осциллограф</h3>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">CH Scale</label>
            <div class="col-sm-6">
                {% render_field form.ch_scale id="ch_scale" class="form-control"%}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">TimeBase</label>
            <div class="col-sm-6">
                {% render_field form.time_base id="time_base" class="form-control"%}
            </div>
        </div>

        <hr>
        <h3>Генератор</h3>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Частота</label>
            <div class="col-sm-6">
                {% render_field form2.frequency id="frequency" class="form2-control"%}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Амплитуда</label>
            <div class="col-sm-6">
                {% render_field form2.amplitude id="amplitude" class="form2-control"%}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Форма</label>
            <div class="col-sm-6">
                {% render_field form2.sig_form id="sig_form" class="form2-control"%}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Канал</label>
            <div class="col-sm-6">
                {% render_field form2.channel id="channel" class="form2-control"%}
            </div>
        </div>

        <button type="submit" id="submitButton" class="btn btn-success btn-lg">Отправить</button>
         </div>
</form>
    {% if graph %}
        <hr>
        <div class="container">
            <h3>График</h3>
            {{ graph|safe }}
        </div>
    {% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% comment %} <script src="{% static 'js/todo.js' %}">
</script> {% endcomment %}
<br>
{% comment %} <div class="container" id="resultPhoto">

</div> {% endcomment %}
{% endblock %}
